*{
    text-decoration: none;
    margin: 0;
}


/* Forms */
.auth-page{
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 100vh;
}

.auth-form{
    background-color: rgba(255, 255, 255, 0.322);
    height: 50vh;
    width: 500px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

#bookez{
    font-size: 8rem;
    color: white;
}

/* Forms */

/* Profile*/
.UserProfile{
    border-radius: 100px;
    border: 2px solid rgb(0, 0, 0);
    width: 80px;
    height: 80px;
}

.profile-page{
    height: 50vh;
    display: flex;
    justify-content:center;
    align-items:baseline;
    gap: 15px;
    margin-left: 280px;
    margin-top: 20px;
    flex-direction: column;
    border-left: 1px solid black;
    box-shadow: 5px;
    padding-left: 20px;
}

.profile-page button{
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}
.profile-buttons{
    
}

.orders{
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    margin-top: 10px;
    margin-bottom: 30px;
}

table{
    border-collapse: collapse;
    width: 80%;
}
th,td{
    border-right: 1px solid black;
}

tr{
    border-bottom:2px solid black;
}

/* totalAmount{
    border-top: 1px solid black;
    } */
    /* Profile*/
    

    /* home body */
    .home{
        
}

.home-body{
    margin: 0% 18%;
}

.home-body input{
    width:100%;
    padding: 8px;
    border-radius: 20px;
    border-color: rgba(128, 128, 128, 0.521);
    margin-bottom: 30px;
}

.home-container{
    display: flex;
    
}

.home-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#landing-text{
    font-size: 1.5rem;
    text-align: center;
    margin: 100px 0px;
}

.filters{
    width: 200px;
}

.filter-content{
    display: flex;
    flex-direction: column;
}

#apply{
    width: 50px;
    padding: 0;
}

#sort_by_price_a,
#sort_by_price_d,
#sort_by_name
{
    width: 20px;
    margin-top: 2px;
}

.sort
.applybtn{
    display: flex;
}
/* home body */


/* Book info */
.BookInfoContainer{
    border: 1px solid black;
    margin: 0px 80px;
    padding: 20px 50px;
}

.BookInfo{
    text-align:left;
    margin-bottom: 20px;
    padding: 0px 120px;
}

.BookInfoHead{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.BookInfoHead img{
    height: 300px;
}

.BookInfoLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-bottom: 20px;
    gap: 5px;
}

#BookTitle{
    font-size: 2rem;
}

#BookPrice{
    font-size: 1.2rem;
    
}

#ReviewInput{
    width: 92%;
    padding:3px;
}

.Reviews{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px 120px;
}

#SubmitReview{
    color: red;
}

.ReviewBlock{
    margin-top: 20px;
}

.ReviewsFlex{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Review{
    border-left: 1px solid gray;
    padding: 10px 0px;
    padding-left: 5px;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}

.BookBottom{
    display: flex;
    justify-content: flex-end;
    
}

.BookBottom p{
    padding-top: 2px;
}

/* Book info */

@media only screen and (max-width:768px) {
    .auth-page{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .auth-form{
        width: 350px;
    }

    #bookez{
        font-size: 5rem;
    }
    #landing-text{
        font-size: 1rem;
        margin: 50px 0px;
    }

    .home-container{
        flex-direction: column;
    }

    .profile-page{
        margin-left: 60px;
    }
    .orders{
        margin-left: 60px;
    }
    .filters{
        font-size: .8rem;
        margin-bottom: 20px;
    }
    .filter-content{
        margin-top: 5px;
    }
    
    .filter-genre{
        display: flex;
        
    }
    #sort_by_price_a,
    #sort_by_price_d,
    #sort_by_name {
        width: 10px;
        margin-top: 2px;
    }
    .sort{
        height: 30px;
    }
    .applybtn{
        display: flex;
        align-self: flex-end;
        gap: 5px;
    }
    #apply{
        width: 35px; 
        font-size: .6rem;
        gap: 5px;
    }
    .home-items{
        display: flex;
        flex-direction: column;
    }
    .buy-field{
        font-size: .8rem;
    }
    .profile-page{
        margin-left: 20px;
        font-size: .9rem;
    }
    .profile-page img{
        height: 50px;
        width:  50px;
    }
    .profile-buttons button{
        width: fit-content;
        font-size: .7rem;
    }
    .orders{
        margin-left: 20px;
        font-size: .7rem;
    }

    .orders table{
    }

    .BookInfoContainer{
        margin: 0px 0px;
        padding: 0px 0px;
    }
    .BookInfo{
        padding: 10px 0px;
    }
    .BookInfoLeft{
        font-size: .8rem;
    }
    .BookInfoHead img{
        height: 100px;
    }
    #BookTitle{
        font-size: .8rem;
    }
    .BookDescription{
        font-size: .8rem;
        padding: 0px 5px;
    }
    .BookBottom{
        padding-right: 2    0px;
    }
    #BookPrice{
        font-size: .8rem;
        margin-top: 10px;
    }
    #add-to-cart{
        padding-bottom: 10px;
    }
    .Reviews{
        padding: 0px 10px;
        font-size: .8rem;
    }
}
