*{
    text-decoration: none;
    margin: 0;
}

/* Forms */
.auth-page{
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 100vh;
}

.auth-form{
    background-color: rgba(255, 255, 255, 0.322);
    height: 50vh;
    width: 500px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

#bookez{
    font-size: 8rem;
    color: white;
}
/* Forms */

/* Profile*/
.UserProfile{
    border-radius: 100px;
    border: 2px solid rgb(0, 0, 0);
}

.profile-page{
    height: 50vh;
    display: flex;
    justify-content:center;
    align-items:baseline;
    gap: 15px;
    margin-left: 280px;
    margin-top: 20px;
    flex-direction: column;
    border-left: 1px solid black;
    box-shadow: 5px;
    padding-left: 20px;
}

.profile-page button{
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}
.profile-buttons{

}

.orders{
    display: flex;
    flex-direction: column;
    margin-left: 280px;
}

table{
    border-collapse: collapse;
}
th,td{
    border-right: 1px solid black;
}

tr{
    border-bottom:2px solid black;
}
/* Profile*/


/* home body */
.home{

}

.home-body{
    margin: 0% 18%;
}

.home-body input{
    width:100%;
    padding: 8px;
    border-radius: 20px;
    border-color: rgba(128, 128, 128, 0.521);
    margin-bottom: 30px;
}

.home-container{
    display: flex;
    
}

.home-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#landing-text{
    font-size: 1.5rem;
    text-align: center;
    margin: 100px 0px;
}

.filters{
    width: 200px;
}

.filter-content{
    display: flex;
    flex-direction: column;
}

#apply{
    width: 50px;
    padding: 0;
}

#sort_by_price_a,
#sort_by_name
{
    width: 20px;
    margin-top: 2px;
}
#sort_by_price_d
{
    width: 20px;
    margin-top: 2px;
}

.sort
.applybtn{
    display: flex;
}
/* home body */


/* Book info */
.BookInfoContainer{
    border: 1px solid black;
    margin: 0px 80px;
    padding: 20px 50px;
}

.BookInfo{
    text-align:left;
    margin-bottom: 20px;
    padding: 0px 120px;
}

.BookInfoHead{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.BookInfoLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-bottom: 20px;
    gap: 5px;
}

#BookTitle{
    font-size: 2rem;
}

#BookPrice{
    font-size: 1.2rem;
    
}

#ReviewInput{
    width: 92%;
    padding:3px;
}

.Reviews{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px 120px;
}

#SubmitReview{
    color: red;
}

.ReviewBlock{
    margin-top: 20px;
}

.ReviewsFlex{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Review{
    border-left: 1px solid gray;
    padding: 10px 0px;
    padding-left: 5px;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}

.BookBottom{
    display: flex;
    justify-content: flex-end;
    
}

.BookBottom p{
    padding-top: 2px;
}

/* Book info */

